# Azure Pipelines configuration

trigger:
- master
- mr/*

pr:
- master

jobs:
- template: azure-pipelines-job-cmake.yml
  parameters:
    vcpkgRef: e308474b85ff49f2b688a759351c4ec569636910
    vcpkgOverlayRepo: 'https://mp-force.ziti.uni-heidelberg.de/asc/infrastructure/vcpkg-ports.git'
    vcpkgOverlayRef: a08517fb77e9d48d00dd33c16e5acd01f8b31f29
    vcpkgPackages: ['cmakeshift', 'gsl-lite', 'catch2', 'mpark-variant']

    cmakeConfigArgs: '-DMAKESHIFT_BUILD_TESTS=ON'

    compilers:
    - os: Windows
      compiler: MSVC
      versions: [2019]
      platforms: [x86, x64]

    - os: Windows
      compiler: Clang
      versions: [9]
      platforms: [x86, x64]

    - os: Linux
      compiler: GCC
      versions: [6, 7, 8, 9]
      platforms: [x64]
      vcpkgTriplet: <platform>-<os>-sanitize
      cmakeConfigArgs: '-DCMAKESHIFT_PRIVATE_COMPILE_SETTINGS=runtime-checks;debug-stdlib'

    - os: Linux
      compiler: Clang
      versions: [4, 5, 6, 7, 8, 9]
      platforms: [x64]
      vcpkgTriplet: <platform>-<os>-sanitize
      cmakeConfigArgs: '-DCMAKESHIFT_PRIVATE_COMPILE_SETTINGS=runtime-checks;debug-stdlib'

    - os: MacOS
      compiler: GCC
      versions: [6, 7, 8, 9]
      platforms: [x64]

    - os: MacOS
      compiler: AppleClang
      versions: [11]
      platforms: [x64]
